@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo img{
    width: 26%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 5px;
}

.navbar{
display: flex;
align-items: center;
justify-content: center;
position: sticky;
top: 0;
cursor: pointer;
background-color: cornflowerblue;



}
.nav-list{
    width: 70%;
    display: flex;
    /* justify-content: center; */
    align-items: center;

}

.nav-list li{
    list-style: none;
    padding: 26px 27px;

}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
    


}
.nav-list li a:hover{
    
    color: grey;
    


}

.rightNav{
    
    width: 30%;
    text-align: right;
    padding: 0 23px;
}


.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}
.btn-dark{
    color: black;
    border: 2px solid grey;
}


#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url(./hero-bg.jpg);
    background-size: cover;
    background-position: top center;
 
}
.overlay{
    content: '';
        /* margin-top: -300px; */
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.7;
        z-index: -1;
}

a {
    text-decoration: none;
}

.container {
    /* min-height: 100vh; */
    width: 100%;
    align-items: center;

}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

.section-title span {
    color: crimson;
}

/*Hero Section*/
#hero {

    position: relative;
    z-index: 1;
}


#hero .hero {
    max-width: 1200px;
    margin: 200px auto;
    padding: 0 50px;

}

#hero div.container {
    margin-top: 300px;


}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;

}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}

#hero h1:nth-child(1) span {
    animation-delay: .5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#hero .cta {
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;


}
.logos{
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    
    
    font-size: 2rem;
  
  
    margin-top: 30px;
    /* transition: .1s ease; */
    transition-property: background-color, color;
}
.logos:hover{
      color: white;
    background-color: crimson;
    border-radius: 25px;
}

#hero .cta:hover {
    color: white;
    background-color: crimson;
}







/*End Hero Section*/
/*Keyframes */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: blueviolet;
        font-weight: 500px;
    }
}

/* End Keyframes */
.contact{
    height: 833px;
    background-color: #f2f6f4;

}
.text-center{
    text-align: center;
    padding-top: 20px;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;

}
.form{
    max-width: 1200px;
    margin:25px auto;
}
.form-input {
    margin: 14px 0 ;
    padding: 5px 13px;
    width: 100%;
    font-size: 19px;
    border: 2px solid gray;
    border-radius: 6px;
}
.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    color: white;

    
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
  }
  .line{
      width: 33px;
      background-color: white;
      height: 4px;
      margin: 5px 3px;
  }
  
@media only screen and (max-width: 1234px){
   .nav-list{
    flex-direction: column;
   }
   .navbar{
    height: 447px;
    flex-direction: column;
    transition: all 0.3s ease-out;
   }
   .rightNav{
    text-align: center;
   }
   #search{
    width: 100%;
   }
   .burger{
    display: block;
   }
   .h-nav-resp{
    height: 72px;
   }
   .v-class-resp{
    opacity: 0;
   }
}

  